body {
    font-family: sans-serif;
}
b {
    color: blueviolet ;
    
    text-decoration: none ;
}
. algo {
    position: absolute;
    top: 0px;
    color: blueviolet ;
 
}
.WW2.html {
 color: blueviolet ; 
   
}
h1 {
 color: blueviolet ;
      
}
.ccch {
width:50px ; 
height:20px ;
}
.ccch:hover {
width:500px ; 
height:200px ;
transition: 1s width all;
}
.link-nav{
    border-top: 2px solid blue;
    text-decoration:none;
    border-bottom: 2px solid blue;
    padding-right:40px;
}
.link-nav:hover{
    border-top: 4px solid blue; 
    border-bottom: 4px solid blue;
   
}

header{
    text-decoration:none;
}
ul{
    border: 1px double blue;
    background-color: lightblue;

}
h1{
    text-align:center;   
}

